.App {
  text-align: center;
}

*{
  box-sizing: border-box;
}

.table-container{
  width: 100vw;
  display: flex;
  justify-content: center;
}

table,tr,th,td{
  border: 1px solid;
}
th,td{
  padding: 10px;
}

input{
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
}

.new-header-adder input{
  padding: 5px;
  border: 1px solid black;
  min-width: 100px;
  max-width: fit-content;
}

button{
  border: 100px;
  padding: 5px;
  cursor: pointer;
  margin: 20px 0px;
  border: 1px solid black;
}

button:hover{
  background-color: darkgray;
}

.delete-row-btn{
  width: 20px;
  display: none;
}
